.cards {
  display: grid;
  column-gap: 100px;
  row-gap: 60px;
  grid-template-columns: repeat(auto-fit, 240px);
  width: 920px;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  list-style: none;
}
